# Node modules
**/node_modules/

# Build outputs
frontend/dist/
backend/build/

# Environment variables
**/.env

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Hardhat cache and artifacts
smart-contracts/artifacts/
smart-contracts/cache/
